{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Barbearia Móvel</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <h1>Régua House</h1>
        </div>
        <nav class="menu">
            <a href="{% url 'login' %}" class="btn">Voltar</a>
        </nav>
    </header>

    <main class="cadastro">
        <h2>Cadastro</h2>
        <p>Escolha uma das opções para continuar:</p>

        <div class="opcoes">
            <button id="cliente-btn" class="btn-opcao">Sou Cliente</button>
            <button id="barbeiro-btn" class="btn-opcao">Sou Barbeiro</button>
        </div>

        <!-- Formulário de Cadastro -->
        <form id="cadastro-form" class="formulario" style="display: none;" method="post">
            {% csrf_token %}
            <div id="campos-comuns">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <div id="campos-barbeiro" style="display: none;">
                <label for="especialidades">Especialidades:</label>
                <input type="text" id="especialidades" name="especialidades"
                    placeholder="Ex: Corte masculino, barba...">

                <label for="experiencia">Experiência:</label>
                <input type="text" id="experiencia" name="experiencia" placeholder="Ex: 5 anos no mercado">

                <label for="agenda">Agenda Disponível:</label>
                <input type="text" id="agenda" name="agenda" placeholder="Ex: Seg-Sex 9h às 18h">
            </div>

            <button type="submit" class="btn-submit">Cadastrar</button>
        </form>

        <div id="login-btn-container" style="display: none;">
            <a href="{% url 'login' %}" id="login-btn" class="btn">Login</a>
        </div>
    </main>

    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>
