<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbearia Móvel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Régua House</h1>
        </div>
        <nav class="menu">
            <a href="login.html" class="btn">Entrar</a>
            <a href="cadastro.html" class="btn">Criar Conta</a>
        </nav>
    </header>

    <main>
        <section class="intro">
            <img src="imgs/logo.png" alt="Logo Régua House" class="main-logo">
            <h2>Seu corte de cabelo, onde você quiser!</h2>
            <p>Agende cortes de cabelo com os melhores barbeiros, no local e horário que você preferir. Experimente a praticidade do nosso serviço.</p>
        </section>
    </main>
</body>
</html>
