{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Barbearia Móvel</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Régua House</h1>
        </div>
        <nav class="menu">
            <a href="{% url 'home' %}" class="btn">Voltar para Home</a>
        </nav>
    </header>

    <main class="login">
        <h2>Login</h2>
        <p>Entre com suas credenciais:</p>

        <!-- Formulário de Login -->
        <form id="login-form" class="formulario" method="POST">
            {% csrf_token %}
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        
            <button type="submit" class="btn-submit">Entrar</button>
        </form>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a></p>
        <a href="{% url 'logout' %}">Sair</a>
    </main>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
